{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <h1 class="title">Categories</h1><br>
        <h2 class="subtitle"><a href="{% url 'bookmark:category_creat' %}" class="button is-primary">Add category</a></h2>
        <div class="columns is-multiline">
            {% for category in category_list %}
                <div class="column is-3">
                    <div class="card card-link">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">{{ category.title }}</p>
                                </div>
                            </div>
                            <div class="content">
                                {{ category.description }}
                            </div>
                            <footer class="card-footer">
                                <a href="{{ category.get_absolute_url }}" class="card-footer-item">Visit</a>
                                <a href="{% url 'bookmark:category_edit' category.pk %}"
                                   class="card-footer-item">Edit</a>
                            </footer>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>
{% endblock %}