{% extends 'base/base.html' %}
{% load extra_tags %}

{% block content %}
    <div class="container" id="vue-app">
        {% if canAdd %}

            <h1 class="title">{% if object %}Edit - {{ object.title }}{% else %}Create{% endif %} Category</h1>
            <div class="columns is-centered" v-if="errors.length">
                <div class="column is-four-fifths">
                    <div class="col-3 notification is-danger">
                        <button class="delete"></button>
                        The title is missing!
                    </div>
                </div>
            </div>
            <form action="" method="post" v-on:submit="submitForm" novalidate>
                {% for field in form %}
                    <div class="field">
                        <label for="" class="label">{{ field.label_tag }}</label>
                        <div class="control">
                            {% if field|input_type == 'Textarea' %}
                                {{ field | add_attrs:'class:textarea is-warning' }}

                            {% else %}
                                {{ field  | add_attrs:'class:input is-warning, v-model:title' }}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% csrf_token %}
                <button class="button is-primary" type="submit">{% if object %}Edit{% else %}Create{% endif %}</button>
                <button class="button is-danger" onclick="window.history.back()">Cancel</button>

            </form>

        {% else %}
            <article class="message is-danger">
                <div class="message-body">
                    {{ canAddMessage }}
                </div>
            </article>
        {% endif %}

    </div>
{% endblock %}


{% block scripts %}
    <script>

        new Vue({
            delimiters: ["[[", "]]"],
            el: '#vue-app',
            data() {
                return {
                    title: '{{ object.title }}',
                    errors: [],
                }
            },
            methods: {
                submitForm: function (e) {
                    this.errors = []
                    console.log('here')
                    if (!this.title.length) {
                        e.preventDefault();
                        this.errors = ['no-title']
                    }
                }
            },
        })
    </script>
{% endblock %}