{% extends 'base/base.html' %}

{% block content %}
    <div class="container">
        <h1 class="title">Dashboard</h1>
        {% for bookmark in bookmarks %}
            <div class="columns">
                <div class="column is-3">
                    <div class="card card-link">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">{{ bookmark.title }}</p>
                                </div>

                            </div>
                            <div class="content">
                                {{ bookmark.description }}
                            </div>
                            <footer class="card-footer">
                                <a href="{{ bookmark.url }}" class="card-footer-item">Visit</a>
                                <a href="" class="card-footer-item">Edit</a>
                            </footer>
                        </div>
                    </div>
                </div>

            </div>

        {% endfor %}

    </div>
{% endblock %}